:root {
  --max-page-width: 1280px;
  --black: #000;
  --background-color: #e0e0e0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto auto;
  text-align: center;
  overflow: hidden;
}
